.primary {
  background-color: hsl(205, 65%, 20%);
  color: white;
}

.primary_outline {
  border: 1px solid hsl(205, 65%, 20%);
}
.secondary {
  background-color: white;
  color: black;
}

.primary,
.primary_outline,
.secondary {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 9999px;
}
